/* Общие стили для страницы */
body {
    text-align: center; /* Центрируем текст и изображения */
    color: #000000;
    background-color: greenyellow; /* Цвет фона страницы */
    font-family: 'Arial', sans-serif; /* Шрифт для текста */
}

/* Стили для заголовков */
h1 {
    font-size: 2.5em; /* Размер шрифта для заголовка h1 */
    margin-bottom: 20px; /* Отступ снизу */
}

h2 {
    font-size: 2em; /* Размер шрифта для заголовка h2 */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для изображений */
img {
    display: inline-block; /* Изображения будут отображаться в строке */
    margin: 10px; /* Добавляем отступы вокруг изображений */
    border: 8px solid black;
    border-radius: 10px;
    transition: transform 0.3s; /* Плавный переход при изменении трансформации */
}

img:hover {
    transform: scale(1.1); /* Увеличиваем изображение при наведении */
}

/* Стили для ссылок */
a {
    color: black; /* Цвет ссылки черный */
    text-decoration: none; /* Убираем подчеркивание */
}

a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

/* Стили для кнопок */
.button {
    display: inline-block; /* Отображаем кнопку в строке */
    padding: 15px 30px; /* Отступы внутри кнопки */
    margin-top: 20px; /* Отступ сверху */
    background-color: #DC143C; /* Цвет фона кнопки */
    color: black; /* Цвет текста */
    border: 2px solid black; /* Рамка кнопки */
    border-radius: 5px; /* Скругление углов */
    font-size: 20px; /* Размер шрифта */
    font-weight: bold; /* Жирный текст */
    text-align: center; /* Центрируем текст */
    transition: background-color 0.3s; /* Плавный переход для фона кнопки */
}

.button:hover {
    background-color: #2bcd7d; /* Цвет фона при наведении */
}

/* Убираем стандартный отступ у ul и li */
ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
}

li {
    margin-bottom: 10px; /* Отступ между элементами списка */
}
